body {
    background-image: url(NY.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color: black;
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-around;
}
.ny {
    margin: 8px;
}
.one {
    margin-bottom: 130px;
}
.two {
    margin-bottom: 70px;
}
.three {
    margin-bottom: 250px;
}
.four {
    margin-bottom: 200px;
}
.five {
    margin-bottom: 140px;
}
.six {
    margin-bottom: 100px;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}
.text {
    text-align: center;
}
.text2 {
    width: 600px;
}
.buttons {
    display: flex;
    justify-content: space-around;
}
.btn {
    border: none;
    border-radius: 70px;
    padding: 20px;
    opacity: 50%;
}
a {
    text-decoration: none;
    font-size: 40px;
}
@media all and (max-width: 800px) {
    .header {
        display: flex;
        flex-direction: column-reverse;  
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;     
    }
    .text2 {
        font-size: 15px;
        width: 400px;
    }
    .btn {
        margin: 60px;
    }
    .ny {
        width: 60px;
    }
    .one {
        margin-bottom: 130px;
    }
    .two {
        margin-bottom: 95px;
    }
    .three {
        margin-bottom: 250px;
    }
    .four {
        margin-bottom: 180px;
    }
    .five {
        margin-bottom: 120px;
    }
    .six {
        margin-bottom: 100px;
    }
    .pic {
        align-self: center;
    }
}
@media all and (max-width: 400px) {
    .text2 {
        font-size: 13px;
        width: 360px;
    }
    .btn {
        margin: 40px;
    }
    .ny {
        width: 40px;
    }
    .one {
        margin-bottom: 150px;
    }
    .two {
        margin-bottom: 130px;
    }
    .three {
        margin-bottom: 250px;
    }
    .four {
        margin-bottom: 180px;
    }
    .five {
        margin-bottom: 140px;
    }
    .six {
        margin-bottom: 130px;
    }
}